@import '../../fonts/fonts';
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $base-font-family;
  color: set-text-color($primary-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
  display: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
