.about-page {
  &__about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
      'bioimage bio bio'
      'job1 job1 job1'
      'job2 job2 job2'
      'job3 job3 job3';
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__bioimage {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: 3px solid $secondary-color;
  }

  &__bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  &__job {
    grid-column: 1/3;
  }

  &__job-1 {
    grid-area: job1;
  }

  &__job-2 {
    grid-area: job2;
  }

  &__job-3 {
    grid-area: job3;
  }

  &__job {
    background: lighten($primary-color, 5);

    padding: 1.5rem;
    border-bottom: $secondary-color 5px solid;
    text-align: center;
    line-height: 1.7;
    text-align: justify;
  }

  &__resume {
    display: inline-block;
    margin: 2rem;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 600;
    color: set-text-color($primary-color);
    border: 3px solid white;
    padding: 1rem 2rem;
    @include easeOut;

    &:hover {
      background-color: $secondary-color;
      color: set-text-color($secondary-color);
      .about-page__text-secondary {
        color: set-text-color($secondary-color);
      }
    }
  }

  &__text-secondary {
    color: $secondary-color;
  }
}
